html, body, #root, .cssgrid {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'ibm-plex-sans', Helvetica Neue, Arial, sans-serif;
  line-height: 1;
  margin: 1em;
  padding: 0;
  background-color: #444444;
  color: #444444;
}

.cssgrid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 264px 1fr;
  grid-auto-columns: minmax(100px, auto);
  background-color: #ffffff;
}

.olli-logo-div, .stop-name-div {
  grid-row: 1;
  height: 264px;
}
.olli-logo-div {
  grid-column: 1 / 2;
}

#col1 { 
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

#col2 {
  grid-column: 2 / 3;
  grid-row: 2 / 4;
}

#mapWrapper {
  display: table-row;
  height: 100%;
}
.mapboxgl-map {
  display: table-cell;
  height: 100%;
}

#col1, #col2 {
  border-left: 6px solid #046b99;
  display: table;
  height: 100%;
  width: 100%;
}
#col2 {
  border-right: 6px solid #046b99;
}

.clock-weather-wrapper {
  display: table-row;
}

.clock-weather {
  border-bottom: 6px solid #046b99;
  padding-bottom: 8px;
  display: table-cell;
}

.kintrans-wrapper {
  display: table-row;
}
.kintrans {
  border-bottom: 6px solid #046b99;
  display: table-cell;
}

.stop-info, .clock-weather, .arrivals-list-stop, .arrivals-list-all {
  padding-left: 8px;
  padding-right: 8px;
  background-color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  margin: 0.5em 0 0.25em 0;
}
h1 {
  font-size: 42pt;
  line-height: 1.25;
}
h1.stop-name {
  line-height: 364px;
}
h1.destination {
  margin: 0;
}
h2 {
  font-size: 24pt;
  text-align: left;
  color: #046b99;
}
.arrivals-list-stop h1 {
  text-align: center;
  color: #046b99;
}

.olli-logo-div, .stop-name-div {
  color: white;
  background-color: #046b99;
}

.stops-list {
  border-left: 6px solid #046b99;
  border-right: 6px solid #046b99;
  border-bottom: 6px solid #046b99;
}

.clock-weather>h2 {
  text-align: right;
}

.weather img {
  height: 75px;
  width: 75px;
  position: relative;
  top: -12px;
}

.weather .forecast {
  vertical-align: top;
}

.forecast table {
  width: 100%;
}
tr {
  font-size: 120%;
  line-height: 1.25em;
}
tr.small {
  font-size: 85%;
}
.forecast td {
  vertical-align: top;
}

.olli-logo {
  height: 72px;
  padding: 12px 72px 12px 12px;
}

.stop-picture {
  max-width: 100%;
}

.stop-info {
  padding-bottom: 12px;
  border-bottom: 6px solid #046b99;
}

.stop-info h2 {
  padding: 8px 0;
}

.arrival-buses {
  font-size: 18pt;
}
.arrival-stops {
  font-size: 14pt;
}
.arrival-stops li,
.arrival-buses li {
  padding-bottom: 0.6em;
}
.arrival-stop-img,
.arrival-stop-info {
  display: inline-block;
  vertical-align: middle;
}
.arrival-stop-img {
  margin-right: 15px;
  height: 64px;
}
.arrival-stop-info {
  width: calc(100% - 100px);
}
.arrival-stop-info > div:first-child {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 6px;
  margin-top: -3px;
}

.bus-next {
  border-right: 1px solid #444444;
}
.bus-approaching,
.bus-next {
  display: inline-block;
  text-align: center;
  width: 50%;
}
.bus-approaching > *,
.bus-next > * {
  padding: 5px;
}
.bus-time {
  font-size: 1.75em;
}

.arrival-stop-info span {
  text-transform: capitalize;
}

.kintrans-avatar {
  background-color: #444444;
}

.kintrans-avatar-text {
  height: 48px;
  background-color: #444444;
}

.kintrans-avatar-text h2 {
  color: #ffffff;
  margin: 0;
  padding-left: 5px;
  line-height: 1.75em;
}