body {
  margin: 1em;
  padding: 0;
  background-color: #fff;
}

.cssgrid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  /* grid-gap: 12px; */
  grid-auto-columns: minmax(100px, auto);
}

.stop-placard {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.olli-logo-div {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.stop-name-div {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.arrival-list, .stop-info, .clock-weather {
  grid-column: 1 / 2;
  padding: 24px 12px 0 12px;
  border-left: 4px solid #444444;
  border-right: 4px solid #444444;
}

.mapboxgl-map {
  grid-column: 2 / 3;
  grid-row: 2 / 6;
}

.stop-panel .box-title {
  font-size: 18pt;
  text-align: center;
  padding-bottom: 8px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

h1 {
  font-size: 48pt;
}

.stop-placard, .olli-logo-div, .stop-name-div {
  color: white;
  background-color: #046b99;
  padding: 12px;
}

.arrival-list {
  border-top: 4px solid #444444;
}
.clock-weather {
  padding-bottom: 24px;
  border-bottom: 4px solid #444444;
}

.weather img {
  height: 75px;
  width: 75px;
  position: relative;
  top: -12px;
}

.weather .forecast {
  vertical-align: top;
}

.forecast table {
  width: 100%;
}
tr.small {
  font-size: 75%;
}
.forecast td {
  vertical-align: top;
}

.olli-logo {
  height: 36px;
  padding-right: 72px;
}

.stop-picture {
  max-width: 100%;
}

.stop-info {
  padding-bottom: 12px;
  /* border-top: 4px solid #b3efff;
  border-bottom: 2px solid #b3efff; */
}

.stop-info h2 {
  padding: 8px 0;
}
